<header class="fixed-top content mx-auto">

    <!-- -Navbar -->
    <nav class="navbar navbar-expand-md bg-white navbar-light content mx-auto w-100 mb-2">
        <a class="navbar-brand ml-3 d-md-none" href="https://www.adityawagh.ml">
            <img class="align-middle" src="{{ site.baseurl }}/assets/icons/icon.png" width="36px" height="auto">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler mr-3 justify-content-end" data-target="#collapsibleNavbar" data-toggle="collapse"
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav w-100 d-inline-flex">

                {% for entry in site.data.menu %}
                {% if entry.title != "CV" %}
                <li class="nav-item mx-auto">
                    <a href="{{entry.href}}" class="nav-link"><i class="{{entry.icon}}"></i>&nbsp;{{entry.title}}</a>
                </li>
                {% else%}
                <!-- Display only on small devices - xs, sm, md -->
                <li class="nav-item mx-auto d-lg-none">
                    <a class="nav-link" href="{{entry.href_phone}}"">
                                        <i class=" {{entry.icon}}"></i>&nbsp;{{entry.title}}</a>
                </li>

                <!-- Display only on big devices lg, xl -->
                <li class="nav-item mx-auto d-none d-lg-block">
                    <a href="{{entry.href_laptop}}" class="nav-link"><i
                            class="{{entry.icon}}"></i>&nbsp;{{entry.title}}</a>
                </li>
                {% endif %}
                {% endfor %}

                <!-- Dark Mode Switch -->
                <li class="nav-item mx-auto">
                    <div class="custom-control custom-switch nav-link">
                        <input type="checkbox" class="d-none" id="darkSwitch" />
                        <label for="darkSwitch"><i class="fas fa-moon"></i>&nbsp;Theme</label>
                    </div>
                    <script src="/assets/dark-mode-switch.min.js"></script>
                </li>
            </ul>
        </div>
    </nav>
</header>