<header class="sticky-top">

    <!-- -Navbar -->
    <nav class="navbar navbar-expand-md navbar-light content mx-auto">
        <a class="navbar-brand ml-3 d-md-none" href="https://adityamwagh.github.io">
            <img class="align-middle" src="{{ site.baseurl }}/assets/icons/icon.png" width="36px" height="auto">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler mr-3 justify-content-end" data-target="#collapsibleNavbar" data-toggle="collapse"
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav w-100 d-inline-flex text-lowercase">
                <!-- Home -->
                <li class="nav-item mx-auto">
                    <a href="/" class="nav-link"><i class="fas fa-home"></i>&nbsp;home</a>
                </li>

                <!-- Blog -->
                <!-- <li class="nav-item mx-auto">
                    <a href="/blog" class="nav-link"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;blog</a>
                </li> -->

                <!-- Projects -->
                <li class="nav-item mx-auto">
                    <a href="/#projects" class="nav-link"><i class="fas fa-tasks"></i>&nbsp;projects</a>
                </li>

                <!-- CV -->
                <!-- Display only on small devices - xs, sm, md -->
                <li class="nav-item mx-auto d-lg-none">
                    <a class="nav-link"
                        href="https://raw.githubusercontent.com/adityamwagh/cv/master/cv_aditya_wagh.pdf">
                        <i class="fas fa-graduation-cap"></i>&nbsp;cv</a>
                </li>

                <!-- Display only on big devices lg, xl -->
                <li class="nav-item mx-auto d-none d-lg-block">
                    <a href="/cv" class="nav-link"><i class="fas fa-graduation-cap"></i>&nbsp;cv</a>
                </li>
            </ul>
        </div>
    </nav>
</header>