<div class="container text-justify animate__animated animate__fadeIn">
    <h1 class="text-center display-4">Projects</h1>
    <p>
        Below is a list of my notable projects. Some of them are academic projects,
        some are hobby ones. Feel free to have a look at whatever you find
        interesting!
    </p>
    <div class="row">
        {% for project in site.data.projects %}
        <div class="col-md-6">
            <div class="container alert alert-primary rounded shadow text-center">
                <div class="mb-4"><img src="{{project.image}}"></div>
                <div class="mb-4 project-heading">{{project.title}}</div>
                <div class="mb-4">{{project.description}}</div>
                <div class="mb-4"><button type="button" class="btn btn-primary"><a href="{{project.docs}}"
                            style="color: #FFFFFF">Docs</a></button>
                    <button type="button" class="btn btn-success"><a href="{{project.code}}" style="color: #FFFFFF"">Code</a></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>