// Basic Styling

body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $primary-font-family;
    font-size: $base-font-size;
    letter-spacing: $base-letter-spacing;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    font-family: $title-font-family;
    text-transform: capitalize;
}

hr {
    margin: 0em;
}

// Clearfix

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Icons

.icons {
    width: 2em;
    height: 2em;
}


// Blog List
.blog-list {
    list-style-type: none;
    padding-left: 0px;
}

// GitHub Icon

svg.svg-inline--fa path {
    fill: black;
}

// Content
.content {
    max-width: $content-width;
}

// Heart
.heart {
    color: #e25555;
    font-size: 1em;
}