// Basic Styling

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: $base-font-family;
  font-size: $base-font-size;

  color: $text-color;
  letter-spacing: $base-letter-spacing;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 0.5em;

  font-family: $title-font-family;
  color: $title-color;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  margin: 0em;
  padding-bottom: 1em;
  font-family: $base-font-family;
}

hr {
  margin: 0em;
}

a b {
  color: $title-color;
}

.updates {
  margin-bottom: 15px;
  overflow-y: auto;
  border: 0.5px solid grey;
  border-radius: 5px;
}

// Lists

ul,
ol {
  padding: 0em;
  margin: 0em 0em 1em 0em;
  list-style-type: none;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Blockquotes

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: $base-font-size;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Icons

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

.my-name {
  font-family: $title-font-family;
  text-align: center;
  font-size: 30px;
}
.header-border {
  border-top: 5px solid #55acee !important;
}

.post-title-bg {
  height: fit-content;
  background-image: linear-gradient(120deg, #155799, #159957);
}
