// Basic Styling
html {
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    letter-spacing: $primary-letter-spacing;
    line-height: $primary-line-height
}

body {
    transition: ease all 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    letter-spacing: $primary-letter-spacing;
    -webkit-text-size-adjust: 100%;
}

header {
    background: inherit;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em !important;
    letter-spacing: -1px !important;
    margin-top: 1em !important;
    font-family: $title-font-family !important;
    text-transform: capitalize;
    font-weight: 600;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: 600 !important;
}

// Icons
.icons {
    width: 2em;
    height: 2em;
}

// Blog List
.blog-list {
    list-style-type: none;
    padding-left: 0px;
}

// GitHub Icon
svg.svg-inline--fa path {
    fill: black;
}

// Content
.content {
    max-width: $content-width;
}

// Heart
.heart {
    color: #e25555;
    font-size: 1em;
}

.display-4 {
    font-family: $secondary-font-family !important;
}

.rounded {
    border-radius: 0.5rem !important;
}

/* Lists */
ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

li p {
    margin-bottom: 0px;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

/* Misc */
hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}

.project-card{
    // color: ;
    // background: #f9f9f9;
    // border: 1px solid lightgray;   
}