// Basic Styling

body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $primary-font-family;
    font-size: $base-font-size;
    background: #e2e3e5;
    height: 100%;
    letter-spacing: $base-letter-spacing;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
}

// Navbar
nav {
    padding-left: 0em !important;
    padding-right: 0em !important;
    font-family: $secondary-font-family;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $title-font-family;
    text-transform: capitalize;
}

h1 {
    font-size: 2em !important;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
}

h2 {
    font-size: 1.8em !important;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
}

h3 {
    font-size: 1.5em !important;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
}

h4 {
    font-size: 1.3em !important;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
}

h5 {
    font-size: 1.2em !important;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
}

h6 {
    font-size: 1em !important;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
}

// Paragraphs
p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

hr {
    margin: 0em;
}

// Clearfix

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Icons

.icons {
    width: 2em;
    height: 2em;
}

// Post

.post-title-header {
    display: block;
    border: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
}

// Blog List
.blog-list {
    list-style-type: none;
    padding-left: 0px;
}

// Project Heading
.project-heading {
    border: 0px;
    padding: 0em;
}

// Code font
.text-monospace {
    font-family: $code-font-family;
    font-weight: normal;
}

// GitHub Icon

svg.svg-inline--fa path {
    fill: black;
}

// Content
.content {
    max-width: $content-width;
}

// Heart
.heart {
    color: #e25555;
    font-size: 1em;
}

p.display-4,
span.display-4 {
    font-family: $secondary-font-family;
}

// News
.news-date {
    border: none;
    font-family: $code-font-family;
    text-transform: uppercase;
    font-size: 0.9em;
    padding-top: 0.125em !important;
    padding-bottom: 0.125em !important;
}

.news-event {
    border: none;
    font-size: 1em;
    text-align: left;
    padding-top: 0.125em !important;
    padding-bottom: 0.125em !important;
}

pre, code, kbd, samp {
    font-family: $code-font-family !important;
    font-size: 1em;
}