// LM Roman
@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-bold-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-bolditalic-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-bolditalic-webfont.woff")
            format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-italic-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-italic-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-regular-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-bold-webfont.woff2") format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-boldoblique-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-boldoblique-webfont.woff")
            format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-oblique-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-oblique-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-regular-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
