@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Bold'), local('AvenirNextLTPro-Bold'),
        url('/assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Bold Italic'), local('AvenirNextLTPro-BoldIt'),
        url('/assets/fonts/AvenirNextLTPro-BoldIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-BoldIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-BoldIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-BoldIt.svg#AvenirNextLTPro-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Demi Italic'), local('AvenirNextLTPro-DemiIt'),
        url('/assets/fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-DemiIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-DemiIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-DemiIt.svg#AvenirNextLTPro-DemiIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Heavy Italic'), local('AvenirNextLTPro-HeavyIt'),
        url('/assets/fonts/AvenirNextLTPro-HeavyIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-HeavyIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-HeavyIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-HeavyIt.svg#AvenirNextLTPro-HeavyIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Heavy'), local('AvenirNextLTPro-Heavy'),
        url('/assets/fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Heavy.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Heavy.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Heavy.svg#AvenirNextLTPro-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Demi'), local('AvenirNextLTPro-Demi'),
        url('/assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Light Italic'), local('AvenirNextLTPro-LightIt'),
        url('/assets/fonts/AvenirNextLTPro-LightIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-LightIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-LightIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-LightIt.svg#AvenirNextLTPro-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Italic'), local('AvenirNextLTPro-It'),
        url('/assets/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-It.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-It.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Light'), local('AvenirNextLTPro-Light'),
        url('/assets/fonts/AvenirNextLTPro-Light.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Light.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Light.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Light.svg#AvenirNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro UltLight';
    src: local('Avenir Next LT Pro Ultra Light Italic'), local('AvenirNextLTPro-UltLtIt'),
        url('/assets/fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-UltLtIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-UltLtIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-UltLtIt.svg#AvenirNextLTPro-UltLtIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Thin Italic'), local('AvenirNextLTPro-ThinIt'),
        url('/assets/fonts/AvenirNextLTPro-ThinIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-ThinIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-ThinIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-ThinIt.svg#AvenirNextLTPro-ThinIt') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Medium'), local('AvenirNextLTPro-Medium'),
        url('/assets/fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Medium.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Medium.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Thin'), local('AvenirNextLTPro-Thin'),
        url('/assets/fonts/AvenirNextLTPro-Thin.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Thin.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Thin.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Thin.svg#AvenirNextLTPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro Medium Italic'), local('AvenirNextLTPro-MediumIt'),
        url('/assets/fonts/AvenirNextLTPro-MediumIt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-MediumIt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-MediumIt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-MediumIt.svg#AvenirNextLTPro-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro UltLight';
    src: local('Avenir Next LT Pro Ultra Light'), local('AvenirNextLTPro-UltLt'),
        url('/assets/fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-UltLt.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-UltLt.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-UltLt.svg#AvenirNextLTPro-UltLt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local('Avenir Next LT Pro'), local('AvenirNextLTPro-Regular'),
        url('/assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
        url('/assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('/assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}