/////////////////
// Mononoki

@font-face {
    font-family: Mononoki;
    src: local("Mononoki"),
        url("/assets/fonts/mononoki/mononoki-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Mononoki;
    src: local("Mononoki Bold"),
        url("/assets/fonts/mononoki/mononoki-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Mononoki;
    src: local("Mononoki Italic"),
        url("/assets/fonts/mononoki/mononoki-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Mononoki;
    src: local("Mononoki Bold Italic"),
        url("/assets/fonts/mononoki/mononoki-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

/////////////////
// LM Roman
@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-bold-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-bolditalic-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-bolditalic-webfont.woff")
            format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-italic-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-italic-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LM Roman";
    src: url("/assets/fonts/lmroman/lmroman10-regular-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmroman/lmroman10-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-bold-webfont.woff2") format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-boldoblique-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-boldoblique-webfont.woff")
            format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-oblique-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-oblique-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LM Sans";
    src: url("/assets/fonts/lmsans/lmsans10-regular-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/lmsans/lmsans10-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
