.site-header {
    border-top: 0px solid #424242;
    background-color: white;
    z-index: 99999999;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
    position: fixed;
    min-width: -webkit-fill-available;
}

.site-title {
    font-size: 26px;
    padding-top: 10px;
    float: left;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Segoe UI", "Open Sans", Arial, sans-serif;
    color: #0077cc;
}

.site-title:visited {
    color: #4B93DB
}

.site-title:hover {
    color: #4B93DB;
    text-decoration: none
}

.site-header .wrapper {
    /* padding-top:10px; */
    padding-bottom: 10px;
    position: relative;
    @include media-query($on-laptop)
    {   margin-left: 2in;
        margin-right: 2in;
    }
}

.site-nav ul li a {
    color: #2a62b2
}

.site-nav ul {
    text-align: right;
    float: right;
    padding-top: 9px;
    font-size: 100%;
    line-height: 2.0;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: capitalize;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.site-nav .menu>li {
    border-bottom: 0px solid transparent;
    display: inline-block;
    height: 23px;
    line-height: normal;
    margin: 12px 10px 0 10px;
    position: relative;
    vertical-align: top
}

.site-nav .menu>li:hover {
    text-decoration: underline
}

.site-nav a {
    display: block;
    color: #2a62b2
}

.site-nav .sub-menu a {
    display: block;
    font-weight: normal;
    height: auto;
    letter-spacing: 0;
    line-height: 1.2em;
    padding: 4px 10px;
    color: #2a62b2
}

.site-nav .sub-menu a:hover {
    color: #4B93DB
}

.site-nav .sub-menu {
    z-index: 2147483647;
    position: absolute;
    margin: inherit;
}

.site-nav .sub-menu li.current-menu-item>a {
    border-left-color: #4B93DB;
    border-right-color: #4B93DB;
    border-right: 0px
}

.sub-menu {
    /* border:3px solid #2a62b2; */
    /* border-top:20px solid transparent; */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    display: none;
    right: -80%;
    padding: 4px 0 3px 0;
    position: absolute;
    text-align: left;
    text-transform: none;
    top: 25px;
    z-index: 99999999999;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.sub-menu li {
    border-bottom: 0;
    display: block;
    height: auto;
    padding: 0;
    text-align: left;
    background: #ffffff
}

.site-nav li:hover>.sub-menu {
    display: block
}

.site-nav h1 {
    position: absolute;
    left: -999em
}

.site-nav {
    float: right;
    line-height: 40px
}

.site-nav .menu-icon {
    display: none
}

.site-nav .page-link {
    color: #07c;
    line-height: 2.0;
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }

    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px
    }

    .site-nav .menu-icon>svg path {
        fill: #424242
    }

    .site-nav .trigger {
        clear: both;
        display: none
    }

    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px
    }
}

@media only screen and (max-width: 600px) {
    .site-nav h1 {
        border-bottom: 3px solid transparent;
        cursor: pointer;
        display: none;
        height: 23px;
        left: auto;
        margin-top: 10px;
        position: static;
        white-space: nowrap
    }

    .site-nav .menu {
        border: 3px solid white;
        border-radius: 5px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
        display: block;
        min-width: 215px;
        padding: 4px 0 0 0;
        position: relative;
        z-index: 2147483647
    }

    .site-nav .menu.open {
        display: block
    }

    .site-nav .menu li {
        display: block;
        margin: 0;
        color: #2a62b2
    }

    .site-nav ul.menu a {
        background: #fff;
        color: #2a62b2
    }

    .site-nav .menu>li {
        height: auto;
        text-align: left
    }

    .site-nav .sub-menu {
        border: 3px solid transparent;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: block;
        font-family: 'Segoe UI', Helvetica, Arial, Verdana, sans-serif;
        position: relative;
        min-width: 215px;
        max-width: 215px;
        top: auto;
        text-transform: uppercase;
        right: auto;
        width: auto;
        background: white
    }

    .site-nav .sub-menu {
        padding-left: 16px
    }

    .site-nav .sub-menu li.current-menu-item>a {
        border: 3px solid transparent
    }
}