// Tables

table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: $table-text-color;
    border-collapse: collapse;
    border: 1px solid $table-border-color;
    tr {
      &:nth-child(even) {
        background-color: $table-zebra-color;
      }
    }
    th,
    td {
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }
    th {
      background-color: $table-header-bg-color;
      border: 1px solid $table-header-border;
    }
    td {
      border: 1px solid $table-border-color;
    }
  }