// Tables
td {
    border: 1px solid grey;
    padding: 1em;
    text-align: center;
}
table {
    margin-top: 1em;
    margin-bottom: 1em;
}

.rouge-table {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}

// News
.news-table {
    margin-top   : 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    border         : none !important;
}
.news-row {
    border: none !important;
}

.news-content {
    vertical-align: top;
    border        : none !important;
}

