// TOC
.toc-heading {
    margin-top: 1rem !important;
    padding: 0rem;
    font-weight: 400;
    font-size: 1.125rem;
}

ul.section-nav {
    list-style-type: none;
    font-size: 0.875rem !important;
}

li.toc-entry {
    list-style-type: none;
}
