// TOC
.toc-heading {
    margin-top: 1em !important;
    padding: 0em;
    font-weight: 400;
    font-size: 1.125em;
}

ul.section-nav {
    list-style-type: none;
    font-size: 0.875em !important;
}

li.toc-entry {
    list-style-type: none;
}
