---
 # Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "bootstrap/bootstrap";

// Font Styling
$base-font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI Light","Helvetica Neue","Lucida Grande",Arial,sans-serif;
$title-font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
$base-font-size: 16px;
$code-font-family: "Ubuntu Mono", "Consolas", monospace;
$small-font-size: $base-font-size - 2;

// Line and Letter Spacing
$base-line-height: 1;
$base-letter-spacing: 1;
$spacing-unit: 30px;

// Colours
$title-color: #202124;
$text-color: #202124;
$background-color: #fdfdfd;

$blue-color: #55acee  ;
$blue-color-dark: darken($blue-color, 10%);
$blue-color-light: lighten($blue-color, 10%);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$code-background-color: #f8f8f8 !default;

$table-text-align: left !default;
$table-text-color: lighten($text-color, 18%) !default;
$table-zebra-color: lighten($blue-color, 46%) !default;
$table-header-bg-color: lighten($blue-color, 43%) !default;
$table-header-border: lighten($blue-color, 36%) !default;
$table-border-color: $grey-color-light !default;

// Width of the content area
$content-width: 950px;

$on-palm: 600px;
$on-laptop: 950px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "image", "modal", "syntax-highlighting",
  "table";
