---
 # Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "bootstrap/bootstrap";

// Fonts
@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Light"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semilight"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Bold"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semibold"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}
// Font Styling
$base-font-family: SegoeUI, sans-serif;
$title-font-family: SegoeUI, sans-serif;
$base-font-size: 1em !important;
$code-font-family: monospace;
$small-font-size: $base-font-size - 2;

// Line and Letter Spacing
$base-line-height: 1.35 !important;
$base-letter-spacing: 0px !important;
$spacing-unit: 2em;

// Colours
$title-color: #202124;
$text-color: #202124;
$background-color: #fdfdfd;

$blue-color: #2a7ae2;
$blue-color-dark: #205caa;
$blue-color-light: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$code-background-color: #f8f8f8 !default;

$table-text-align: left !default;
$table-text-color: lighten($text-color, 18%) !default;
$table-zebra-color: lighten($blue-color, 46%) !default;
$table-header-bg-color: lighten($blue-color, 43%) !default;
$table-header-border: lighten($blue-color, 36%) !default;
$table-border-color: $grey-color-light !default;

// Width of the content area
$content-width: 950px;

$on-palm: 600px;
$on-laptop: 950px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "image", "modal", "syntax-highlighting",
  "table";

