--- 
--- 

// Fonts
$primary-font-family: "Avenir Next",
sans-serif;
$secondary-font-family: "Avenir Next",
sans-serif;
$title-font-family: "Avenir Next",
sans-serif;

// Base Variables
$primary-font-size: 1rem !important;
$primary-line-height: 1.7 !important;
$primary-letter-spacing: 0 !important;
$spacing-unit: 2rem !important;
$content-width: 60rem;

@charset "utf-8";

@import "bootstrap/bootstrap";

@import "base", "table", "syntax-highlighting", "images", "fonts";
@mixin rounded($radius: 8px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}