--- 
--- 
@charset "utf-8";
@import "bootstrap/bootstrap", "fonts", "dark";

// Fonts
$primary-font-family: system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$secondary-font-family: "LM Sans",
sans-serif;
$title-font-family: "Source Sans Pro",
sans-serif;

// Base Variables
$base-font-size: 1rem !important;
$base-line-height: 1.5 !important;
$base-letter-spacing: 0 !important;
$spacing-unit: 2rem !important;
$content-width: 70rem;

@mixin rounded($radius: 4px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@import "base", "table", "syntax-highlighting", "images", "toc";