---
---

// Fonts
$primary-font-family: "Avenir Next LT Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$secondary-font-family: "Avenir Next LT Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$title-font-family: "Avenir Next LT Pro", sans-serif;

// Base Variables
$primary-font-size: 1rem !important;
$primary-line-height: 1.7 !important;
$primary-letter-spacing: 0 !important;
$spacing-unit: 2rem !important;
$content-width: 60rem;

@charset "utf-8";

@import "bootstrap/bootstrap";

@import "base", "table", "syntax-highlighting", "images", "fonts";
@mixin rounded($radius: 8px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
