--- 
--- 
@charset "utf-8";
@import "bootstrap/bootstrap", "dark";

// Fonts
$primary-font-family: "Avenir Next",
sans-serif;
$secondary-font-family: "Avenir Next",
sans-serif;
$title-font-family: "Avenir Next",
sans-serif;

// Base Variables
$base-font-size: 1.125rem !important;
$base-line-height: 1.7 !important;
$base-letter-spacing: 0 !important;
$spacing-unit: 2rem !important;
$content-width: 60rem;

@mixin rounded($radius: 8px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@import "base", "table", "syntax-highlighting", "images", "fonts";