.site-header {
    border-top: 0px solid #424242;
    background-color: #999;
    z-index: 99999999;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
    position: fixed;
    width: 100%;
    height: 3rem;
}

.site-header .wrapper {
    position: relative;
    height: 100%;
}

.navbar ul li a {
    color: #fff
}

.navbar ul {
    text-align: right;
    float: right;
    padding-top: 10px;
    font-size: 100%;
    line-height: 2.0;
    font-weight: 350;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: capitalize;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.navbar .menu>li {
    border-bottom: 0px solid transparent;
    display: inline-block;
    height: 100%;
    line-height: initial;
    margin: 0px 10px 0px 10px;
    position: relative;

}

.navbar .menu>li:hover {
    transform: translateY(0);
}

.navbar a {
    display: block;
    color: #fff
}

.navbar .sub-menu a {
    display: block;
    font-weight: 350;
    height: auto;
    letter-spacing: 0;
    line-height: 1.2em;
    padding: 4px 10px;
    color: #fff
}

.navbar .sub-menu a:hover {
    color: #fff
}

.navbar .sub-menu {
    z-index: 2147483647;
    position: absolute;
}

.navbar .sub-menu li.current-menu-item>a {
    border-left-color: #4B93DB;
    border-right-color: #4B93DB;
    border-right: 0px
}

.sub-menu {

    display: none;
    position: relative;
    text-align: left;
    text-transform: none;
    z-index: 9999;
    font-family: "Segoe UI", Helvetica, Arial, Verdana, sans-serif;
}

.sub-menu li {
    border-bottom: 0;
    display: block;
    height: auto;
    padding: 0;
    text-align: left;
    background: #ffffff
}

.navbar li:hover>.sub-menu {
    display: block
}

.navbar h1 {
    position: absolute;
    left: -999em
}

.navbar {
    float: right;
    line-height: 30px;
}

.navbar .menu-icon {
    display: none
}

.navbar .nav-link {
    color: #fff;
    padding: 5px;
    font-size: 18px;
    font-weight: 400; 
}

.navbar .nav-link:not(:first-child) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .navbar {
        position: inherit;
        top: 7px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: -webkit-match-parent;
        border-width: thick;
        width: -webkit-fill-available;
        padding: .2rem .5rem .2rem .5rem;
    }

    .navbar .menu-icon {
        display: inline-block;
        width: -webkit-fill-available;
        height: 28px;
        text-align: left;
    }

    .navbar .menu-icon>svg {
        width: 18px;
        height: 15px
    }

    .navbar .menu-icon>svg path {
        fill: #424242
    }

    .navbar .trigger {
        clear: both;
        display: none;
        width: inherit;
    }

    .navbar:hover .trigger {
        display: block;
        width: inherit;
    }

    .navbar .nav-link {
        display: block;
        padding: 5px 10px
    }
}

@media only screen and (max-width: 600px) {
    .navbar h1 {
        border-bottom: 3px solid transparent;
        cursor: pointer;
        display: none;
        height: 23px;
        left: auto;
        margin-top: 10px;
        position: static;
        white-space: nowrap
    }

    .navbar .menu {
        border: 3px solid white;
        border-radius: 5px;
        display: inline-flex;
        width: inherit;
        padding: 4px 0 0 0;
        position: relative;
        z-index: 2147483647
    }

    .navbar .menu.open {
        display: inline-flex;
    }

    .navbar .menu li {
        display: block;
        margin: 0;
        color: #2a62b2
    }

    .navbar ul.menu a {
        background: #fff;
        color: #000000;
        text-align: center;
    }

    .navbar .menu>li {
        height: auto;
        text-align: left
    }

    .navbar .sub-menu {
        border: 3px solid transparent;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: block;
        font-family: 'Segoe UI', Helvetica, Arial, Verdana, sans-serif;
        position: relative;
        top: auto;
        text-transform: capitalize;
        right: auto;
        width: auto;
        background: #8C1515;
    }

    .navbar .sub-menu {
        padding-left: 16px
    }

    .navbar .sub-menu li.current-menu-item>a {
        border: 3px solid transparent
    }
}