/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    padding-top: 30px;
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

/*
*   Formatting for resume
*/
@include media-query($on-palm) {
    .cv-img {
        display: none;
    }
}

@include media-query($on-laptop) {
    .cv-img {
        margin: inherit;
        padding: inherit;
        display: inline-block;
    }
}


.page-heading {
    font-size: 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}


h1 .post-title
    {
    font-size: 30px;
    margin-top: 10px;
    line-height: 1;
    font-family: $title-font-family;
    color: $blue-color-dark;

    @include media-query($on-laptop) {
        font-size: 30px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-family: $title-font-family;
        font-weight: bold;
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-style: italic;
        font-weight: bold;
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.footnotes ol li {
    list-style-type: decimal;
}

.footnotes ol {
    font-size: 0.85em;
    color: #666666;
}

html {
    overflow-y: auto;
}

