@media only screen and (max-width: 600px) {

.navbar h1 {
		border-bottom: 3px solid transparent;
		cursor: pointer;
		display: none; /* Standard. IE8+, Saf, FF3+ */
		height: 23px;
		left: auto;
		margin-top: 10px;
		position: static;
		white-space: nowrap;
	}

.navbar .menu {
		border: 3px solid white;
		border-radius: 5px;
		// border-top: 0;
		/* bg and border colors set in header */
		/* Hide until activated */
		display: block;
		// left: -3px;
		// right: -3px;
		min-width: 215px;
/*		margin-top: 36px; */
		padding: 4px 0 0 0;
		position: relative;
		z-index:2147483647;
	}


.navbar .menu.open {
		display: block;
	}

.navbar .menu li {
		display: block;
		margin: 0;
		color: $blue-color-dark;
	}

.navbar ul.menu a {
	background: #fff;
	color: $blue-color-dark;

}

.navbar .menu > li {
		height: auto;
		text-align: left;
	}

.navbar .sub-menu {
		border: 3px solid transparent;
		display: block;
		font-family: 'Segoe UI', Helvetica, Arial, Verdana, sans-serif;
		position: relative;
		min-width: 215px;
		max-width: 215px;
		top: auto;
		text-transform: capitalize;
		right: auto;
		width: auto;
		background: white;
	}

	.navbar .sub-menu {
		padding-left: 16px;
	}
	.navbar .sub-menu li.current-menu-item > a {
		border: 3px solid transparent;
	}

}

