<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}
  <div class="container"  style="max-width: calc(1000px - (30px * 2));">
    <div class="container">

      <div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%B %-d, %Y" }} {% if page.author %} by
          {{ page.author }}{% endif %}
          {% if page.categories %}
          in
          {% for cat in page.categories %}
          <a style="text-decoration: underline;" href="{{ site.baseurl }}/categories/#{{ cat }}"
            title="{{ cat }}">{{ cat }}</a>
          {% endfor %}
          {% endif %}
        </p>
      </div>
    </div>

    <div class="container" style="max-width: calc(1000px - (30px * 2));">
      <article>
        {{ content }}
      </article>
    </div>
  </div>

</body>
{% include footer.html %}

</html>